
body
{
    font-family: helvetica;
}

#log
{
    background: #D5D5D5;
    width: 500px;
    margin: 10px 50px;
    padding: 10px;
    border: 1px solid gray;
}

#log p
{
    margin: 5px;
    padding: 0;
}